<h2>Authors</h2>
The following people contributed to the content of this lesson:
<div class="author-table">
<!-- ALL-CONTRIBUTORS-LIST:START - Do not remove or modify this section -->
<!-- prettier-ignore-start -->
<!-- markdownlint-disable -->
<table>
  <tbody>
    <tr>
      <td align="center" valign="top" width="14.28%"><a href="http://www.matthewfeickert.com/"><img src="https://avatars.githubusercontent.com/u/5142394?v=4?s=100" width="100px;" alt="Matthew Feickert"/><br /><sub><b>Matthew Feickert</b></sub></a><br /><a href="#content-matthewfeickert" title="Content">🖋</a></td>
      <td align="center" valign="top" width="14.28%"><a href="https://bregnery.github.io/"><img src="https://avatars.githubusercontent.com/u/7606867?v=4?s=100" width="100px;" alt="bregnery"/><br /><sub><b>bregnery</b></sub></a><br /><a href="#content-bregnery" title="Content">🖋</a></td>
      <td align="center" valign="top" width="14.28%"><a href="https://github.com/danikam"><img src="https://avatars.githubusercontent.com/u/43050968?v=4?s=100" width="100px;" alt="Danika MacDonell"/><br /><sub><b>Danika MacDonell</b></sub></a><br /><a href="#content-danikam" title="Content">🖋</a></td>
      <td align="center" valign="top" width="14.28%"><a href="https://github.com/smeehan12"><img src="https://avatars.githubusercontent.com/u/13018253?v=4?s=100" width="100px;" alt="Samuel Meehan"/><br /><sub><b>Samuel Meehan</b></sub></a><br /><a href="#content-smeehan12" title="Content">🖋</a></td>
      <td align="center" valign="top" width="14.28%"><a href="https://github.com/mhuwiler"><img src="https://avatars.githubusercontent.com/u/30265206?v=4?s=100" width="100px;" alt="mhuwiler"/><br /><sub><b>mhuwiler</b></sub></a><br /><a href="#content-mhuwiler" title="Content">🖋</a></td>
      <td align="center" valign="top" width="14.28%"><a href="http://linkedin.com/in/bruno-alves-"><img src="https://avatars.githubusercontent.com/u/20703947?v=4?s=100" width="100px;" alt="Bruno Alves"/><br /><sub><b>Bruno Alves</b></sub></a><br /><a href="#content-bfonta" title="Content">🖋</a></td>
      <td align="center" valign="top" width="14.28%"><a href="https://github.com/amanmdesai"><img src="https://avatars.githubusercontent.com/u/98302868?v=4?s=100" width="100px;" alt="Aman Desai"/><br /><sub><b>Aman Desai</b></sub></a><br /><a href="#content-amanmdesai" title="Content">🖋</a></td>
    </tr>
    <tr>
      <td align="center" valign="top" width="14.28%"><a href="https://github.com/mdonadoni"><img src="https://avatars.githubusercontent.com/u/13397702?v=4?s=100" width="100px;" alt="mdonadoni"/><br /><sub><b>mdonadoni</b></sub></a><br /><a href="#maintenance-mdonadoni" title="Maintenance">🚧</a></td>
      <td align="center" valign="top" width="14.28%"><a href="https://github.com/mambelli"><img src="https://avatars.githubusercontent.com/u/1558058?v=4?s=100" width="100px;" alt="Marco Mambelli"/><br /><sub><b>Marco Mambelli</b></sub></a><br /><a href="#maintenance-mambelli" title="Maintenance">🚧</a></td>
    </tr>
  </tbody>
</table>

<!-- markdownlint-restore -->
<!-- prettier-ignore-end -->

<!-- ALL-CONTRIBUTORS-LIST:END -->
</div>
Note that this list does not include the contributors to the framework as developed by the carpentries.
